@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

button,
input {
  outline: none;
}

.zen-dots {
  font-family: "Zen Dots", sans-serif;
}

.transform-right-center {
  transform-origin: right center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.parallax {
  background-image: url("/parallax_prod.png");
}
